{% extends "plantilla.html" %}
{% load static %}
{% block content %}

<section class="container-fluid">
    <div>
        <h1 class="w-100" style="text-align: center; margin-bottom: 25px; margin-top: 20px;">Mantenedor de productos</h1>
    </div>
</section>

<section class="container-fluid" style="padding: 20px;">
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Id producto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Disponible</th>
                <th scope="col">Fecha incorporación</th>
                <th scope="col">Id proveedor</th>
                <th scope="col">Precio descuento</th>
                <th scope="col">Tamaño</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for p in productos %}
                <tr>
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.nombre}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>${{p.precio}}</td>
                    <td>{{p.disponible}}</td>
                    <td>{{p.fechaIncorporacion}}</td>
                    <td>{{p.idProveedor}}</td>
                    <td>${{p.precioDcto}}</td>
                    <td>{{p.tamano}}</td>
                    <td>
                        <a href="/eliminarProducto/{{p.id}}">
                            <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </a>
                    </td>
                    <td>
                      <a href="">
                        <button type="button" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></button>
                    </a>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}